@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 96px;
  }
  
  .about-container {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1000px) {
  #profile,
  .section-container {
    display: block;
  }

  .arrow {
    display: none;
  }
  
  section,
  .section-container {
    height: fit-content;
  }
  
  section {
    margin: 0 5%;
  }
  
  .profile-img,
  .about-img {
    width: 275px;
    height: 275px;
    margin: 32px auto;
  }

  .profile-texts {
    align-items: center;
  }

  .profile-text1,
  .profile-text2,
  .profile-text3,
  .profile-title {
    text-align: center;
  }

  .profile-btn {
    justify-content: center;
  }
  
  .about-container {
    margin-top: 0;
  }
}

@media screen and (max-width: 760px) {
  #nav-desktop {
    display: none;
  }

  #nav-mobile {
    display: flex;
  }

  #profile,
  #about,
  #projects,
  #contacts {
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  #contacts,
  footer {
    height: 40vh;
  }
  
  #profile,
  #about,
  #projects,
  #contacts {
    height: auto;
    margin-bottom: 0;
  }

  article {
    font-size: 16px;
  }
  
  footer nav {
    height: fit-content;
    margin-bottom: 32px;
  }
  
  .about-container,
  .contact-info-container,
  .btn-container {
    flex-wrap: wrap;
  }
  
  .contact {
    margin: 0;
  }
  
  .contact p,
  .nav-links li a {
    font-size: 16px;
  }
  
  .logo {
    font-size: 24px;
  }
  
  .nav-links {
    flex-direction: column;
    gap: 8px;
    text-align: center;
  }
  
  .profile-img,
  .about-img {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  
  .profile-text2 {
    font-size: 20px;
  }

  .profile-title,
  .title {
    font-size: 32px;
  }
  
  .text-container {
    text-align: justify;
  }
}