/* Import fonts */
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Roboto:wght@400;700;900&display=swap";

/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

hmtl {
  scroll-behavior: smooth;
}

#about, #skills, #projects {
  position: relative;
}

/* Transition */
a, 
.btn {
  transition: all 300ms ease;
}

/* nav desktop */
nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.nav-links {
  gap: 32px;
  list-style: none;
  font-size: 16px;
}

.route {
  color: black;
  text-decoration: none;
}

.route:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.logo {
  font-size: 26px;
}

.logo:hover {
  cursor: default;
}

/* nav mobile */
#nav-mobile {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.links-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.links-menu a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.links-menu li {
  list-style: none;
}

.links-menu.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:first-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:first-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* sections */

section {
  padding-top: 32px;
  height: 675px;
  margin: 0 120px;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* profile section */

#profile {
  display: flex;
  justify-content: center;
  gap: 160px;
  height: 614px;
}

.pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.profile-text {
  align-self: center;
  text-align: center;
}

.profile-text p {
  font-weight: 600;
}

.text-p1 {
  text-align: center;
}

.text-p2 {
  font-size: 28px;
  margin-bottom: 16px;
}

.title {
  font-size: 48px;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  gap: 16px;
}

/* icons */

.icon {
  margin: 24px 12px;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

/* buttons */
.btn-container {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 16px;
  width: 128px;
  border-radius: 32px;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 1.5px solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: black;
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: white 1.5px solid;
}

.btn-container {
  gap: 16px;
}

/* about section */
.about-container {
  gap: 32px;
  margin: 32px 0;
}

.about-details {
  justify-content: center;
  flex-direction: column;
}

.about-container, .about-details {
  display: flex;
}

.about-icon {
  margin: 24px 0;
  color: black;
  text-decoration: none;
}

.arrow {
  position: absolute;
  right: -60px;
  bottom: 40px;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.details-container {
  padding: 24px;
  flex: 1;
  background: white;
  border-radius: 32px;
  border: rgb(53, 53, 53) 1.5px solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 64px;
  height: 80%;
}

/* skills section */
.skill-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 16px;
}

.skills-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.skill-icon {
  margin: 24px 6px 24px 0;
  color: black;
  text-decoration: none;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 40px;
  justify-content: space-around;
  align-items: center;
}

article {
  display: flex;
  width: 160px;
  gap: 8px;
}

/* projects section */
.color-container {
  border-color: rgb(163, 163, 163);
  background: white;
}

.project-img {
  border-radius: 32px;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 16px;
  color: black;
}

.projetct-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

/* contact section */
#contacts {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-container {
  display: flex;
  justify-content: center;
  border-radius: 32px;
  border: rgb(53, 53, 53) 1.5px solid;
  border-color: rgb(163, 163, 163);
  background: white;
  margin: 32px auto;
  padding: 8px;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 16px;
}

.contact p>a {
  font-size: larger;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.contact-icon {
  cursor: default;
}

/* footer */
footer {
  height: 26vh;
  margin: 0 16px;
}

footer p {
  text-align: center;
}