/* Import fonts */
@import "https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap";

/* General */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #222831;
  color: #F2EFE7;
  transition: background 0.2s linear;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

h1 {
  font-size: 60px;
}

p {
  font-weight: 500;
}

a {
  text-decoration: none;
}

article {
  display: flex;
  width: 160px;
  gap: 8px;
  align-items: center;
}

.title {
  font-size: 48px;
  text-align: center;
}

.section-text {
  text-align: center;
}

/* nav desktop */
header,
.nav-links {
  display: flex;
}

header {
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.nav-links {
  gap: 32px;
  list-style: none;
  font-size: 18px;
}

.logo {
  font-weight: 600;
  font-size: 32px;
}

.logo:hover {
  cursor: default;
}

/* language selector */
.language {
  position: relative;
  width: 95px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.language select {
  height: 100%;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  border: none;
  appearance: none;
  padding: 0 30px 0 10px;
  color: #F2EFE7;
  cursor: pointer;
  background: transparent;
  transition: all 300ms ease;
}

.select-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-icon i {
  font-size: 18px;
}

option {
  background-color: #31363F;
}

.language select:hover {
  color: #76ABAE;
}

/* sections */
section {
  padding-top: 32px;
  margin: 0 120px;
  min-height: fit-content;
}

/* profile section */

#profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* contact */

.socials {
  display: flex;
  margin: 16px 0;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

a.link {
  display: block;
  height: 100%;
  width: 100%;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px;
  border-radius: 12px;
  background-color: #31363F;
  transition: all 0.5s ease;
}

.contact:hover {
  transform: scale(1.1);
  z-index: 1;
  
  p {
    color: #76ABAE;
  }
  
  .contact-icon {
    color: #76ABAE;
  }
}

.contact p {
  font-size: 20px;
  color: #F2EFE7;
  cursor: pointer;
}

.contact-icon {
  color: #F2EFE7;
}

/* footer */
footer {
  height: 26vh;
  margin: 0 16px;
}