/* Import fonts */
@import "https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap";

/* General */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #222831;
  color: #F2EFE7;
  transition: background 0.2s linear;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

p {
  font-weight: 500;
}

article {
  display: flex;
  width: 160px;
  gap: 8px;
  align-items: center;
}

.title {
  font-size: 48px;
  text-align: center;
}

.section-text {
  text-align: center;
}

/* nav desktop */
header,
.nav-links {
  display: flex;
}

header {
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.nav-links {
  gap: 32px;
  list-style: none;
  font-size: 18px;
}

.logo {
  font-weight: 600;
  font-size: 32px;
}

.logo:hover {
  cursor: default;
}

.route {
  color: #ECDFCC;
  text-decoration: none;
}

.route:hover {
  color: #939498;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #52b788;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  position: relative;
  height: 24px;
  width: 48px;
  transform: scale(1.3);
}

.label .ball {
  background-color: #ECDFCC;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 20px;
  width: 20px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon,
.fa-sun {
  color: #f8f8f6;
}

/* language selector */
.language {
  position: relative;
  width: 95px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.language select {
  height: 100%;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  border: none;
  appearance: none;
  padding: 0 30px 0 10px;
  color: #F2EFE7;
  cursor: pointer;
  background: transparent;
  transition: all 300ms ease;
}

.select-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-icon i {
  font-size: 18px;
}

option {
  background-color: #31363F;
}

.language select:hover {
  color: #76ABAE;
}

/* sections */
section {
  padding-top: 32px;
  margin: 0 120px;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* profile section */

#profile {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* icons */
.icon {
  color: #52b788;
  text-decoration: none;
}

/* about section */
.about-container {
  display: grid;
  grid-template-columns: 1fr 370px;
}

.about-experience {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 32px;
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
  padding: 16px;
}

.about-techs {
  max-width: 600px;
}

.scroller {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.about-techs[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    #f8f8f6 20%,
    #f8f8f6 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, #f8f8f6 20%, #f8f8f6 80%, transparent);
}

.about-techs[data-direction="right"] {
  --_animation-direction: reverse;
}

.about-techs[data-direction="left"] {
  --_animation-direction: forwards;
}

.about-techs[data-speed="fast"] {
  --_animation-duration: 25s;
}

.about-techs[data-speed="slow"] {
  --_animation-duration: 55s;
}

.about-techs[data-animated="true"] .scroller {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  padding: 16px;
  border-radius: 8px;
}

/* contact */

.socials {
  display: flex;
  margin: 32px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.contact p>a {
  font-size: 20px;
  color: #F2EFE7;
  text-decoration: none;
  cursor: pointer;
}

.contact p>a:hover {
  color: #76ABAE;
}

.contact-icon {
  cursor: default;
  color: #76ABAE;
}

/* footer */
footer {
  height: 26vh;
  margin: 0 16px;
}